.columns {
  display: flex;
  flex-direction: row;

  &.align-start {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-space-around {
    justify-content: space-around;
  }
}
