@import 'style/theme/custom';

#game {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  gap: 5px;


  div {
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;

    &.x::before {
      content: '✖';
      color: #89fd6b;
    }
    &.o::before {
      content: '🞅';
      color: #fc4c03;
    }
  }

  &.can-move div:not(.o):not(.x) {
    cursor: pointer;
  }
}
