#introduction-to-javascript {
  #script-tag-example-slide {
    preview-window {
      opacity: 0;
      transition: 0.4s ease-in-out;
      transition-property: opacity;

      &.running {
        opacity: 1;
      }
    }
  }

  #data-types {
    width: 95%;

    td {
      border: none;

      &:first-child {
        text-align: right;
      }
    }
  }

  .future-outlook {
    font-size: .75em;
    font-style: italic;

    code {
      font-style: normal;
    }
  }
}

