#grid-layout {
    .grid-container {
        display: grid;
        border: 3px solid grey;
        font-size: 25px;
    }
    .grid-item {
        border: apx solid grey;
    }
    .grid-item:nth-child(1),
    .grid-item-1 {
        background-color: darkblue;
    }
    .grid-item:nth-child(2),
    .grid-item-2 {
        background-color: blue;
    }
    .grid-item:nth-child(3),
    .grid-item-3 {
        background-color: blueviolet;
    }
    .grid-item:nth-child(4),
    .grid-item-4 {
        background-color: violet;
    }
    .grid-item:nth-child(5),
    .grid-item-5 {
        background-color: darkcyan;
    }
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-11,
    .grid-12,
    .grid-13,
    .grid-14 {
        grid-template-columns: auto auto auto;
    }
    .grid-1>.grid-item,
    .grid-2>.grid-item,
    .grid-3>.grid-item,
    .grid-4>.grid-item,
    .grid-5>.grid-item,
    .grid-6>.grid-item {
        background-color: black
    }
    .grid-1 {
        border: 2px solid yellow;
    }
    .grid-2>.grid-item {
        border: 2px solid yellow;
    }
    .grid-3>.grid-item:nth-child(-n+3) {
        border-bottom: 2px solid yellow;
    }
    .grid-4>.grid-item:nth-child(2) {
        background-color: yellow;
        color: black;
    }
    .grid-5>.grid-item:nth-child(-n+3) {
        background-color: yellow;
        color: black;
    }
    .grid-6>.grid-item:nth-child(3n+1) {
        background-color: yellow;
        color: black;
    }
    .grid-7 {
        grid-template-columns: 100px 25% auto;
        grid-template-rows: 40px 100px;
    }
    .grid-8 {
        grid-template-columns: [c1] 100px [c2] 25% [c3] auto [c4];
        grid-template-rows: [r1] 40px [r2] 100px [r3];
    }
    .grid-9 {
        grid-template-columns: 25% 50% auto 100px;
        grid-template-rows: auto 70px;
        grid-template-areas: "header header header header" "main main . sidebar"
    }
    .grid-9>.grid-item-1,
    .grid-10>.grid-item-1 {
        grid-area: header;
        background-color: rgb(216, 91, 112);
    }
    .grid-9>.grid-item-2,
    .grid-10>.grid-item-2 {
        grid-area: main;
        background-color: rgb(48, 48, 107);
    }
    .grid-9>.grid-item-3,
    .grid-10>.grid-item-3 {
        grid-area: sidebar;
        background-color: rgb(30, 148, 184);
    }
    .grid-10 {
        grid-template: "header header header header" auto "main main . sidebar" 70px / 25% 50% auto 100px;
    }
    .grid-11 {
        column-gap: 10px;
        row-gap: 15px;
        background-color: yellow;
    }
    .grid-11>.grid-item,
    .grid-12>.grid-item {
        background-color: black;
    }
    .grid-12 {
        gap: 15px 10px;
        background-color: yellow;
    }
    .grid-13 {
        grid-template-rows: 80px 90px;
        justify-items: end
    }
    .grid-13>.grid-item-1 {
        justify-self: start;
        align-self: center;
    }
    .grid-14 {
        grid-template-rows: 80px 90px;
        justify-content: end
    }
    .grid-15 {
        grid-template-columns: [l1] 140px [l2] 150px [l3] auto [l4] 150px [l5] 140px [end];
        grid-template-rows: [r1-start] 25% [r1-end r2-start] 100px [r2-end r3-start] auto [r3-end];
    }
    .grid-15>.grid-item-1 {
        grid-column-start: 1;
        grid-column-end: span l4;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .grid-16 {
        display: grid;
        grid-template-columns: 250px 3fr 2fr;
    }
    .grid-16>.grid-item-1 {
        grid-column: 1 / 4;
    }
    .grid-16>.grid-item-2 {
        grid-row: 2 / 4;
    }
    @media only screen and (max-width: 1000px) {
        .grid-16 {
            grid-template-columns: 1fr 1fr;
        }
        .grid-16>.grid-item-1 {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        .grid-16>.grid-item-2 {
            grid-row: 1 / 1;
        }
    }
    .grid-17 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
    }
}